@use "base";

.content-page-hashtag {
  background-color: base.$white;
}

.content {
  background-color: base.$white;

  h1 {
    font: normal normal bold 32px/48px Poppins;
  }

  button {
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 41px;
    font-weight: bold;
    font-size: 18px;
    line-height: 38px;
    background-color: base.$BgYellow;
    border: 5px solid base.$BgBlack;
    text-transform: uppercase;

    &:hover, &:active, &:focus {
      background-color: base.$white !important;
      border-color: base.$BgYellow !important;
      color: base.$BgYellow !important;
    }
  }
}
