// header

@use "base";

.black-nav {
  background-color: base.$white !important;

  ul {
    border-color: base.$BgBlack !important;

    a {
      color: base.$BgBlack !important;
    }
  }

  .navbar-toggler i {
    color: base.$BgBlack !important;
  }

  .dropdown-menu {
    background: base.$white !important;
  }

  ul a:hover.dropdown-item:hover {
    background-color: base.$white !important;
  }

}

.header {
  background-color: base.$BgBlack;

  .navbar-brand {
    img {
      max-width: 80px;
    }
  }

  .navbar-toggler {
    &:hover {
      background-color: base.$Green !important;
    }

    i {
      color: base.$white;
      font-size: 42px;
    }
  }

  ul {
    border: 1px solid #F7F7F7;
    border-radius: 31px;
    padding: 0.7rem;

    a, a:hover {
      text-decoration: none;

      &.dropdown-item:hover {
        background-color: base.$BgBlack;
      }
    }

    .nav-link::after {
      display: none;
    }

    .nav-link {
      font-size: 1.125rem/2rem;
      font-weight: bold;
    }
  }

  .dropdown-menu {
    background: base.$BgBlack;
    border: 1px solid #f7f7f7;
  }
}

@media (max-width: 991px) {
  .header .dropdown-menu {
    border: unset;
  }
}
