@use "base";

.venue-row {
    p {
        margin-bottom: 0;
    }

    .sponsor.large {
        height: 165px;
        width: 165px;

    }

    iframe {
        margin-top: 36px;
    }
}

.coimbra-row {

    p {
        font: normal normal 300 16px/25px Poppins;
        color: #2C2C2C;
    }

    iframe {
        margin: 60px auto;
    }
}

.explore-the-facilities-row,.explore-the-city-row {

    .swiper-buttons {
        position: relative;
        width: 70px;
        margin-left: auto;
        margin-top: -30px;

        .swiper-button-next {
            position: relative;
            float: right;
            color: black;

            &:after {
                font-size: 20px;
                line-height: 20px;
            }
        }

        .swiper-button-prev {
            position: relative;
            float: left;
            color: black;

            &:after {
                font-size: 20px;
                line-height: 20px;
            }
        }
    }

    .swiper {
        overflow: clip;
        padding-top: 50px;
        text-align: end;

        .swiper-description {
            font: italic normal 100 16px/25px Poppins;
            display: inline-block;
            margin: -5px 5px auto auto;
        }
    }

    .swiper-wrapper {
        position: relative;
        width: 100%;

        .swiper-slide {
            width: 380px;

            p {
                display: inline-block;
            }

            img {
                object-fit: fill;
                width: 380px;
                height: 250px;
                pointer-events: none;
            }
        }
    }
}


