@use "base";

#schedule-container {

    font-family: 'Poppins', sans-serif;

    &.dark-background {
        background: base.$BgBlack;
        min-height: 100vh;
    }

    .header-row {
        height: 15vh;
        position: sticky;

        .left-logo {
            filter: brightness(0.6);
            width: 50%;
        }

        .right-logo {
            width: 70%;
        }
    }

    .schedule-container {
        background: base.$white;
        min-height: 85vh;
        border-radius: 15px;

        .day, .room {
            text-transform: uppercase;
            color: base.$gray;

        }
        .day {
            font-size: 24px;
        }
        .room {
            font-size: 16px;
        }

        .grouped-time {
            font-size: 12px;
            color: base.$BgGreen;
        }

        .event-card {
            width: 100%;
            border-radius: 8px;
            box-shadow: 0 0 10px 0 base.$gray;
            position: relative;

            &.gray-bg {
                background: gray;
            }


            .time-details {
                color: white;
                align-items: end;
                justify-content: space-between;
                background: base.$BgGreen;
                height: 100%;
                width: 15%;
                padding: 15px;
                border-top-left-radius: 8px;
                border-bottom-left-radius: 8px;
            }

            .event-details {
                flex-grow: 1;

                .event-title {
                    font-size: 16px;
                }
                .event-speaker {
                    color: base.$gray;
                    font-size: 14px;
                }
                .event-description {
                    font-size: 12px;
                }
                .event-room {
                    color: base.$gray;
                }
            }
        }
    }

}
