.Sponsors-content {
    p {
        padding: .1rem 0;
    }
}

object {
    height: 700px;

    @media (max-width: 1400px) {
        height: 500px;
    }

    @media (max-width: 988px) {
        height: 300px;
    }

    @media (max-width: 570px) {
        height: 200px;
    }
}