{#{% load static %}#}
{##}
{#<div class="modal fade home-modal" id="homeModal" tabindex="-1" aria-labelledby="homeModalLabel" aria-hidden="true">#}
{#  <div class="modal-dialog">#}
{#    <div class="modal-content">#}
{#      <div class="modal-header">#}
{#        <h1 class="modal-title" id="homeModalLabel">WIN A FREE TICKET</h1>#}
{#        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>#}
{#      </div>#}
{#      <div class="modal-body">#}
{#        <div class="row d-flex">#}
{##}
{#          <div class="col-12 col-lg-4 mt-3">#}
{#            <div class="card h-100">#}
{#              <div class="card-body py-5 px-4">#}
{#                <h3 class="d-block card-title">#}
{#                  <img class="me-2" src="{% static "images/other/orange_star.svg" %}" alt="Star">#}
{#                  CALL FOR PARTICIPATION#}
{#                </h3>#}
{#                <div class="card-description">#}
{#                  Do you have content to share with the community?#}
{#                </div>#}
{#                <a type="button"#}
{#                   class="btn btn-primary btn-lg pycon-btn yellow-btn text-uppercase"#}
{#                   href="{% url 'submenu-view' 'talks' 'cfp' %}"#}
{#                >#}
{#                  Submit <i class="bi bi-arrow-right"></i>#}
{#                </a>#}
{#              </div>#}
{#            </div>#}
{#          </div>#}
{##}
{#          <div class="col-12 col-lg-4 mt-3">#}
{#            <div class="card h-100">#}
{#              <div class="card-body py-5 px-4">#}
{#                <h3 class="d-block card-title">#}
{#                  <img class="me-2" src="{% static "images/other/orange_star.svg" %}" alt="Star">#}
{#                  VOLUNTEER#}
{#                </h3>#}
{#                <div class="card-description">#}
{#                  Do you want to see what's behind the curtain?#}
{#                </div>#}
{#                <a type="button"#}
{#                   class="btn btn-primary btn-lg pycon-btn yellow-btn text-uppercase"#}
{#                   href="https://forms.gle/FkHNmDBaCjXwqCpQ6"#}
{#                   target="_blank"#}
{#                >#}
{#                  Apply <i class="bi bi-arrow-right"></i>#}
{#                </a>#}
{#              </div>#}
{#            </div>#}
{#          </div>#}
{##}
{#          <div class="col-12 col-lg-4 mt-3">#}
{#            <div class="card h-100">#}
{#              <div class="card-body py-5 px-4">#}
{#                <h3 class="d-block card-title">#}
{#                  <img class="me-2" src="{% static "images/other/orange_star.svg" %}" alt="Star">#}
{#                  GRANT#}
{#                </h3>#}
{#                <div class="card-description">#}
{#                  Do you need a push to attend PyCon Portugal?#}
{#                </div>#}
{#                <a type="button"#}
{#                   class="btn btn-primary btn-lg pycon-btn yellow-btn text-uppercase"#}
{#                   href="{% url 'submenu-view' 'information' 'grants' %}"#}
{#                >#}
{#                  Apply <i class="bi bi-arrow-right"></i>#}
{#                </a>#}
{#              </div>#}
{#            </div>#}
{#          </div>#}
{##}
{#        </div>#}
{#      </div>#}
{#    </div>#}
{#  </div>#}
{#</div>#}
