{% extends "base.html" %}
{% load static %}

{% block navbar %}
{% endblock %}
{% block hashtags %}
{% endblock %}
{% block footer %}
{% endblock %}

{% block content %}
  <div id="schedule-container" class="container-fluid dark-background">
  <div class="row header-row"
       style="background: center / contain no-repeat url({% static 'images/logo/pycon-banner-short.png' %})">
      <span class="evolutio-msg">by evolutio</span>
  </div>

  {% block schedule %}
  {% endblock schedule %}


  <div class="row bottom-row justify-content-center">
    <img src="{% static 'images/sponsors/cbs_iscac.png' %}" alt="CBS ISCAC">
  </div>
{% endblock content %}
