{% load static %}
<div class="event-card d-flex {% if not event.room %}gray-bg{% endif %}">
  <div class="time-details d-flex flex-column">
    <span>{{ event.start_time|date:"h:i A" }}</span>
    <span>{{ event.duration }}min</span>
  </div>
  <div class="event-details d-flex flex-column p-2">
    <span class="event-title">
      {{ event.title }}
    </span>
    {% if event.speaker %}
      <span class="event-speaker">
          {{ event.speaker }}
      </span>
    {% endif %}
{#    {% if event.description %}#}
{#      <span class="event-description w-75">#}
{#            {{ event.description }}#}
{#        </span>#}
{#    {% endif %}#}
    <span class="event-room">{{ event.room }}</span>
    {% if event.image %}
      <img src="{% static event.image %}" alt="{{ event.speaker }}" class="event-image">
    {% endif %}
  </div>
</div>
