{% extends "pages/schedule/base.html" %}

{% block schedule %}
  <div class="schedule-container pt-1">
    <div class="w-100 my-2">
      <h1 class="day text-center">{{ day }}{% if room %} - {{ room }}{% endif %}</h1>
    </div>

    <div class="row">
        <div class="col-12 row">
          {% for event in events %}
            <div class="col-12 m-2">
              {% include "pages/schedule/event-card.html" %}
            </div>
          {% endfor %}
        </div>
    </div>


  </div>
{% endblock schedule %}
