{% load static markdown_extras %}

{#<div class="col-12 col-lg-10 newsletter-content py-5 px-2 px-md-5">#}
{#  <form class="row justify-content-center">#}
{#    <div class="col-10 mb-3">#}
{#      <p>Get notified first! Subscribe to our newsletter and be the first to know about our latest#}
{#        updates, news, and exclusive offers.#}
{#      </p>#}
{#    </div>#}
{#    <div class="col-12 col-md-8 col-lg-4">#}
{#      <input type="email" class="form-control" id="exampleInputEmail1"#}
{#             aria-describedby="emailHelp" placeholder="Email">#}
{#    </div>#}
{#    <div class="col-6 col-md-4 col-lg-3 mt-3 mt-md-0">#}
{#      <button type="submit" class="btn btn-primary pycon-btn green-btn w-100">Send <i#}
{#        class="bi bi-arrow-right ms-2"></i></button>#}
{#    </div>#}
{#  </form>#}
{#</div>#}
