{% load static markdown_extras %}

<div class="col-12 card-other-dates h-100 px-0">
  <div class="card-body py-5 px-0 ms-5">
    {% with content=files.9|markdown %}
      {{ content.html|safe }}
    {% endwith %}
  </div>
</div>

<div class="col-12">
  <div class="h-100 text-center">
    <video controls width="90%">
        <source src="{% static 'videos/pycon_final.mp4' %}" type="video/mp4">
        Your browser does not support the video tag.
    </video>

    <a href="https://www.flickr.com/photos/196712309@N04/" class="mt-4 btn btn-primary btn-lg pycon-btn yellow-btn-reverted text-uppercase" target="_blank">
      CHECK OUT THE PHOTOS
    </a>
  </div>
</div>
